.texto{
    display: block;
    background: red;
    width: 100%;
    height: 200px;
    overflow:auto;
    max-width: 1200px;
    max-height: 100%;
    margin: 0 auto;
}

/* medida em porcentagem: é a porcentagem que o elemento ocupa na tela, definindo 50% por exemplo
o elemento irá ocupar 50% do que ele ocuparia na tela */
/* overflow: controla o que acontece se o conteúdo passar do tamanho da div */

/* width:100% da tela, com margin 0 no topo e auto na direita: centraliza e regula o tamanho */

/* border-box: o padding e o conteúdo serão somados na altura e largura */
